# ==============================
# Database Configuration (MongoDB)
# ==============================
DATABASE_URL=your-database-url
DATABASE_NAME=your-database-name

# ==============================
# Email Configuration for send email notification
# ==============================
EMAIL_ADDRESS=your-email
EMAIL_APP_PASSWORD=your-app-password

# ==============================
#Frontend & Backend URLs
# ==============================
FRONTEND_URL=your-frontend-url
BACKEND_URL=your-backend-url

# ==============================
# AWS S3 Configuration
# ==============================
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key
AWS_S3_BUCKET_NAME=your-bucket-name
AWS_REGION=your-regionh